
body  {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
}

span {
    font-weight: bold;
}

img {
    width: 300px
}

ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bold {
  font-weight: bold;
}

.italic  {
    font-style: italic;
}

.margin {
    margin-left: 4px
}

.border-box {
    border: 3px solid grey;
    width: 360px;
    padding: 10px;
    box-shadow: 11px 14px 5px 0px rgba(128,128,128,1);
    background-color: lightblue;
 }

 .border-text {
   border: 2px solid grey;
   border-spacing: 300px;
   width:300px;
}

/*   Design

CRITERIA
MEETS SPECIFICATIONS
Design

Page resembles card from design prototype.

The text is italicized for the animal’s interesting fact.
The labels are bolded for the animal’s list items.
The dots are removed from the animal's list items.
Uses border around animal’s name, image, and information (interesting fact, list items, and description).
Uses border around animal’s information.
Uses spacing between animal’s name, image, and information.
Card width should be fixed and include the spacing around the image (Since image is 300px wide, card should be 300px + spacing on either side. Card should not expand with the browser window).
Feel free to customize your information and styles so long as you follow the above rules. For inspiration, you can try playing around with background colors or border radius!

Check out and share designs in the Udacity Discussion Forum!

Custom Image and Text

The placeholder image and information is replaced with favorite animal image and information.

The image is 300px wide or the image's width is set to 300px.
The image’s alt is relevant to the animal used.
Code Quality

CRITERIA
MEETS SPECIFICATIONS
CSS Classes
The HTML includes classes that are used for styling.
Classes are given meaningful names.
Separation of Concerns
Student separates HTML from CSS by linking to stylesheet.
HTML code does not include <style> elements or style attributes in the body.

Code Quality

Code is ready for review, meaning new lines and indentation are used for easy readability.
    */
